{{#> base_layout }}

{{#*inline "content-block"}}
<!--
<ul class="rooms_list">
  {{#each rooms}}
  <li><a href="/room/{{this.name}}">{{this.name}}</a></li>
  {{/each}}
</ul>
-->

<p><strong>Tiny Dungeon</strong> allows you to create shareable tiny dungeons which help you keep track of combat stats
  during D&amp;D games, featuring real time updating, automatic sort by initiative (no more trying to work out who goes
  next), neat utilities, and cute updating hit point bars.</p>

<h2>New!</h2>

<p>Tiny Dungeon now allows you to draw real time updating maps with character and monster markers!</p>

<a href="/new/room"><i class="fas fa-door-open"></i> Create a new dungeon</a>
{{/inline}}

{{/base_layout}}