@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700&display=swap');

/* border-box ALL THE THINGS! */
html {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header, main, footer {
		padding:0 10px;
}

header {
  max-width: 1600px;
  margin: 0 auto;
}

main {
  flex: 1;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

footer {
		background: black;
		color: white;
		text-align: center;
}

footer a, footer a:visited, footer a:active, footer a:hover {
		color: white;
		background: none;
		text-decoration: underline;
}

a, a:active, a:visited {
		text-decoration: none;
		background: #ffff7f;
		padding: 0 2px;
		border-radius: 5px;
		color: black;
}

a:hover {
		background: #e1f9ff;
		color: black;
}

code {
  background: #e0e0e0;
  font-family: inherit;
  padding: 0px 2px;
}

input[type=text], input[type=number], button, select {
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  max-width: 320px;
}

button {
  background: white;
  display: block;
}

input:focus, button:hover {
  border-color: #96d1f0;
}

.select2-container {
  margin-bottom: 10px !important;
}

/* Grid. */

.row {
  display: flex;
}
.row>.col {
  flex: 1;
  margin: 0 20px;
}
.row>.col:first-child {
  margin-left: 0;
}
.row>.col:last-child {
  margin-right: 0;
}
@media (max-width: 768px) {
  .row {
    display: block;
  }
  .row>.col {
    margin: 0;
  }
}

#map-grid {
  display: grid;
  width: calc(50 * 25px);
  grid-template-columns: repeat(50, 25px);
  grid-template-rows: repeat(30, 25px);
  font-family: 'IBM Plex Mono', monospace;
	border: 1px solid #2f86ba36;
}

#map-grid-container {
	width: 100%;
	overflow: auto;
}

#map-grid .grid__cell {
  position: relative;
	height: 25px;
	width: 25px;
	border: 1px dashed #2f86ba36;
	cursor: pointer;
	min-width: 25px;
  min-height: 25px;
}

#map-grid .grid__cell[data-color="white"] {
	background: #fff;
}

#map-grid .grid__cell[data-color="black"] {
  background: #96d1f0;
}

#map-grid .grid__cell[data-color="door-n"] {

	background: url(../images/door-icon-n.gif);
}
#map-grid .grid__cell[data-color="door-e"] {

	background: url(../images/door-icon-e.gif);
}
#map-grid .grid__cell[data-color="door-s"] {

	background: url(../images/door-icon-s.gif);
}
#map-grid .grid__cell[data-color="door-w"] {

	background: url(../images/door-icon-w.gif);
}
#map-grid .grid__cell[data-color="stairs-n"] {

	background: url(../images/stairs-icon-n.gif);
}
#map-grid .grid__cell[data-color="stairs-e"] {

	background: url(../images/stairs-icon-e.gif);
}
#map-grid .grid__cell[data-color="stairs-s"] {

	background: url(../images/stairs-icon-s.gif);
}
#map-grid .grid__cell[data-color="stairs-w"] {

	background: url(../images/stairs-icon-w.gif);
}
#map-grid .grid__cell[data-color="column"] {

	background: url(../images/column-icon.gif);
}
#map-grid .grid__cell[data-color="chest"] {

	background: url(../images/chest-icon.gif);
}
#map-grid .grid__cell[data-color="statue"] {

	background: url(../images/statue-icon.gif);
}
#map-grid .grid__cell[data-color="terrain"] {

	background: url(../images/terrain-icon.gif);
}
#map-grid .grid__cell[data-color="rocks"] {

	background: url(../images/rocks-icon.gif);
}
#map-grid .grid__cell[data-color="altar-h"] {

	background: url(../images/altar-h.gif);
}
#map-grid .grid__cell[data-color="altar-v"] {
	background: url(../images/altar-v.gif);
}
#map-grid .grid__cell[data-color="secret"] {
  background: url(../images/secret-icon.svg);
  background-size: contain;
}
#map-grid .grid__cell[data-color="trap"] {
	background: url(../images/trap-icon.gif);
}
#map-grid .grid__cell[data-color="trapdoor-floor"] {
	background: url(../images/trapdoor-floor.gif);
}
#map-grid .grid__cell[data-color="trapdoor-ceiling"] {
	background: url(../images/trapdoor-ceiling.gif);
}
#map-grid .grid__cell[data-color="pit"] {
	background: url(../images/pit-icon.gif);
}
#map-grid .grid__cell[data-color="fountain"] {
	background: url(../images/fountain-icon.gif);
}
#map-grid .grid__cell[data-color="corner-nw"], input#corner-nw {
  background: linear-gradient(to right bottom, #96d1f0 50%, #fff 50%);
  border:transparent; /* This is to try and hack a CSS issue where the linear gradient makes the border vanish??) */
}
#map-grid .grid__cell[data-color="corner-ne"], input#corner-ne {
  background: linear-gradient(to left bottom, #96d1f0 50%, #fff 50%);
  border:transparent; /* This is to try and hack a CSS issue where the linear gradient makes the border vanish??) */
}
#map-grid .grid__cell[data-color="corner-se"], input#corner-se {
  background: linear-gradient(to left top, #96d1f0 50%, #fff 50%);
  border:transparent; /* This is to try and hack a CSS issue where the linear gradient makes the border vanish??) */
}
#map-grid .grid__cell[data-color="corner-sw"], input#corner-sw {
  background: linear-gradient(to right top, #96d1f0 50%, #fff 50%);
  border:transparent; /* This is to try and hack a CSS issue where the linear gradient makes the border vanish??) */
}

#map-grid.dm-view .grid__cell[data-override="white"]::after,
#map-grid.dm-view .grid__cell[data-override="black"]::after {
  content: '•';
  color: red;
  position: absolute;
  top: -6px;
  right: -1px;
}

#map-grid.player-view .grid__cell[data-override="white"] {
 background: #fff; 
}

#map-grid.player-view .grid__cell[data-override="black"] {
  background: #96d1f0; 
}

#map-grid.player-view .grid__cell[data-fog="true"] {
	background: #aaa !important;
}

#map-grid.dm-view.show-fog .grid__cell[data-fog="true"]::before {
  content: '';
  background: #000;
  position: absolute;
  width: 25px;
  height: 25px;
  opacity: .075;
}

#map-grid.dm-view.show-fog .grid__cell[data-fog="true"]:hover::before,
#map-grid .grid__cell:hover::before {
  filter: grayscale(0);
  background: var(--before-background);
  width: 23px;
  height: 23px;
  content: attr(data-before-content);
  display: block;
  position: absolute;
  opacity: .25;
}

.cell__text {
  font-size: .8em;
  position: absolute;
  z-index: 200;
  font-family: 'Muli', sans-serif;
  width: 75px;
  transform: translate(-33%);
  line-height: 25px;
  text-align: center;
  color: #0e84c4;
}

#map-grid.player-view .grid__cell[data-fog="true"] .cell__text {
  display: none;
}

#map-controls, #map-participant-controls {
	margin-bottom: 0.5rem;
	display: block;
}

#map-controls, #map-participant-controls, #map-secondary-tools {
	background: #eee;
	padding: 5px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	display: flex;
  align-items: center;
	flex-wrap: wrap;
}

.tool-group {
  display: inline-grid;
  grid-template-rows: 25px 25px;
  grid-gap: 2px;
  border-right: 1px solid #ccc;
  margin-right: 5px;
  padding-right: 5px;
  grid-auto-flow: column;
}

#map-tools-form h3 {
  margin-bottom: 0;
}

#map-controls label, #map-participant-controls label, #map-secondary-tools label {
  padding-right: 0.25rem;
}

#map-controls label > input, #map-participant-controls label > input { /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
#map-controls label > input + img { /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
  border-radius: 5px;
}
#map-controls label > input:checked + img,
#map-secondary-tools input[type="radio"]:checked + .selector,
#map-secondary-tools input[type="checkbox"]:checked + .selector,
#map-controls input[type="radio"]:checked + .selector,
#map-controls input[type="checkbox"]:checked + .selector { /* (RADIO CHECKED) IMAGE STYLES */
	border: 2px solid orange;
}

.button-group {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.button-group > * {
  height: 28px;
  margin-bottom: 5px;
}

.button-group > *:last-child {
  margin-bottom: 0;
}

#map-participant-controls label > input + .participant-color {
  font-family: 'IBM Plex Mono', monospace;
	cursor:pointer;
  border:2px solid transparent;
	height: 23px;
	width: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
	margin: 0 5px;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
	border-radius: 50%;
	background-color: #f8f7f3;
}

#map-participant-controls label > input:checked + .participant-color {
	border:2px solid black;
}

#map-secondary-tools input[type="radio"],
#map-secondary-tools input[type="checkbox"],
#map-controls input[type="radio"],
#map-controls input[type="checkbox"] {
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
#map-secondary-tools input[type="radio"] + .selector,
#map-secondary-tools input[type="checkbox"] + .selector,
#map-controls input[type="radio"] + .selector,
#map-controls input[type="checkbox"] + .selector {
  min-width: 28px;
  height: 28px;
  cursor:pointer;
  border:2px solid transparent;
  border-radius: 5px;
  background: #fff;
  padding: 0 5px;
  line-height: 22px;
}

#map-secondary-tools button, #map-participant-controls button {
  border: 2px solid transparent !important;
  margin-bottom: 0;
  padding: 0 5px;
  height: 28px;
  min-width: 28px;
  width: auto !important;
  cursor: pointer;
}

#map-secondary-tools button:hover, #map-participant-controls button:hover {
  border: 2px solid orange !important;
}

#remove-pog {
  order: 2;
}

#clear-map {
  margin-left: 20px
}

.pog {
  z-index: 200;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  font-weight: bold;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sp-preview {
	width: 15px;
	height: 15px;
}

table { 
  width: 100%; 
  border-collapse: collapse;
	table-layout: fixed;
	border-bottom: 1px solid #ccc;
}
/* Zebra striping */
tr:nth-of-type(4n-1) { 
  background: #eee; 
}

tr.toggle-row td {
	padding: 0;
	border-top: 0;
	border-bottom: 0;
	box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
	background: #f7f7f7;
}

tr.toggle-row .stats-container {
	padding: 6px;
	display: flex;
	justify-content: space-between;
}

tr.toggle-row .stats-container .editable-container.editable-inline {
	width: auto;
}

.toggle-container {
	display: none;
}

.stats-container ul {
	  list-style-type: none;
    margin: 0;
    padding: 0;
/*		min-width: 16%;*/
}
.stats-container ul.monster-info {
	width: 60%;
}

.stats-container ul.stats, .stats-container ul.other {
	min-width: 10%;
	max-width: 20%;
}

.stats-container ul.monster-info h2 {
	font-size: 1rem;
  text-decoration: underline;
	margin-top:0;
	margin-bottom: 0.5rem;
}

/*
.stats-container ul:nth-of-type(1){
	margin-right: 2rem;
}
*/

th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
	position: relative;
}

.hpbar {
  max-width: 100%;
  height: 20px;
  display: block;
  background: #11a911;
  width: 100%;
  color: white;
  text-align: center;
	border-radius: 4px;
	box-sizing: border-box;
  border: 1px solid #7bdc7b;
}

.hpbar .editable-container {
  width: 98%;
  /* position: absolute;
  right: 0;
  bottom: 9px; */
}

.hpbarborder {
  width: 100%;
  background: #cccccc;
  box-shadow: inset -1px 1px 1px rgba(0,0,0,0.2);
  border-radius: 6px;
  border: 2px solid #959595;
  margin-left: -2px;
}

.notes-edit-field {
	font-size: smaller;
	height:2rem;
	width: 100%;
}

.notes + .editable-container .editable-input, .notes + .editable-container {
	width: 100%;
}

.col-left {
	float: left;
	width: 50%;
	height: 240px;
}
.col-right {
	float: right;
	width: 50%;
	height: 240px;
}


#members-list a {
		color: black;
		border-bottom: 1px dashed darkgrey;
		background: none;
		padding: 0;
		border-radius: 0px;
}

.editable-demo {
		border-bottom: 1px dashed darkgrey;
}

#members-list .hpbar a {
		color: white;
		font-weight: bold;
    border-bottom: 0px;
    /* position: absolute;
    left: 50%;
    transform: translate(-50%); */
    text-shadow: 0 0 3px rgba(0,0,0,0.7);
}

#members-list .member-controls a {
		border-bottom: 0px;
		text-decoration: none;
}

.input-mini {
		width: 40px;
}

.editable-buttons button {
		display: none;
}

.notes {
	font-size: smaller;
}

hr {
	border: 0px;
	height: 1px;
	background: #cecece;
}

.member-controls {
			align-items: center;
}

.delete-member:hover span {
		color: red;
}

#dice-documentation {
		display: none;
}

#dice-result, #dice-documentation {
		background: #eee;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#dice-result {
  max-height: 200px;
  overflow-x: auto;
}

#dice-result p {
  margin-top: 0;
}

#dice-result p:last-child {
  margin-bottom: 0;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 600px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
	.col-left {
		width:100%;
		height: auto;
	}
	.col-right {
		width:100%;
		height: auto;
		margin-bottom: 1rem;
	}
	
	tr.toggle-row .stats-container {
		padding: 6px;
		display: block;
		justify-content: none;
/*		justify-content: space-between;*/
	}
	
	.stats-container ul {
		margin-right: 0;
		margin-bottom: 1rem;
	}
	
	.stats-container ul.monster-info, .stats-container ul.stats, .stats-container ul.other {
		width: 100%;
		max-width: 100%;
		min-width: 100%;
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
		}
		table {
				table-layout: auto;
		}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	.main-row td:nth-of-type(1):before { content: "Name"; font-weight: bold; max-width:30%; }
	td:nth-of-type(2):before { content: "Initiative"; font-weight: bold; }
	td:nth-of-type(3):before { content: "AC"; font-weight: bold; }
	td:nth-of-type(4):before { content: "HP"; font-weight: bold; }
	td:nth-of-type(5):before { content: "Current HP"; font-weight: bold; }
  td:nth-of-type(6):before { content: "Notes"; font-weight: bold; }
  td:nth-of-type(7):before { content: "Color"; font-weight: bold; }
	td:nth-of-type(8):before { content: "Controls"; font-weight: bold; }
}


.editable-input input {
    background: none;
    border: 0px;
    padding: 0;
    margin: 0;
    outline: none;
    display: block;
    margin-top: 1px;
		font-weight: bold;
}

.chp-edit-field {
	text-align: center;
	color: white;
	width: 100%;
} 
/*

.editable-input textarea {
    background: none;
    border: 0px;
    outline: none;
    padding: 0px;
    margin: 0px;
    display: block;
     font-weight: bold; 
}
*/

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}
